:root {
   --white: #fff;
   --gray: #555;
   --blue-lighter: #12324b;
   --blue-darker: #192a41;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100dvh;
   font-family: 'Roboto', sans-serif;
   font-size: 2.5rem;
   background: linear-gradient(to bottom right, var(--blue-darker) 0%, var(--blue-lighter) 100%);
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 5rem;
   width: 50vw;
   height: 60vh;
}

.steps {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.bar {
   position: absolute;
   z-index: -2;
   width: 100%;
   height: 3px;
   background-color: var(--gray);

}

.bar--active {
   content: '';
   position: absolute;
   z-index: -1;
   width: 0%;
   height: 3px;
   background-color: var(--white);
   transition: all ease-in-out .4s;
}

.step {
   padding: 1rem 1.8rem;
   text-align: center;
   color: var(--white);
   background-color: var(--blue-darker);
   border: 3px solid var(--gray);
   border-radius: 50%;
   transition: all ease-in-out .4s .1s;
}

.step--active {
   color: var(--blue-darker);
   background-color: var(--white);
   border: 3px solid var(--white);
   transform: scale(1.1);
}

.btns {
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 20%;
   width: 100%;
}

.btn {
   width: 17rem;
   padding: 1.2rem 2rem;
   font-size: 1.5rem;
   color: var(--blue-darker);
   background-color: var(--white);
   border: 2px solid var(--white);
   border-radius: 2rem;
   cursor: pointer;
}

.btn:not(:disabled):active {
   transform: scale(0.97);
}

.btn:disabled {
   color: var(--gray);
   background-color: var(--blue-darker);
   border: 2px solid var(--gray);
   cursor: not-allowed;
}

@media screen and (max-width: 37.5em) {
   body {
      font-size: 2rem;
   }

   .container {
      width: 90vw;
   }

   .step {
      padding: 0.5rem 1.2rem;
   }

   .btn {
      width: 15rem;
      padding: 1rem 1.8rem;
   }
}